<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RT AI</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css">
</head>
<body>
<div class="app">
    <!-- Top navigation -->
        <header class="navbar">
            <div class="navbar-left">
                <button id="sidebar-toggle">☰</button>
                <!-- <h1>AI Assistant</h1> -->
            </div>

            <div class="navbar-right">
                <button id="logout-button">Logout</button>
            </div>
        </header>

    <div class="app-body">
        <!-- Side Bar -->
        <aside class="sidebar">
            <!-- New Chat -->
            <button id="new-chat" onclick="newChat()">+ New Chat</button>
            <!-- Chat List -->
            <div class="chat-list-container">
                <h3 id="chat-list-title">Recent Chats</h3>
                <div class="chat-list" id="chat-list">
                    <!-- Chat History -->
                </div>
            </div>
        </aside>

         <!-- Main chat -->
        <main class="chat-container">
            <!-- Messages -->
            <div class="messages" id="messages">
                <div id="welcome-message">
                    <h1>How can I help you today?</h1>
                    <p>Ask me anything or start a conversation.</p>
                </div>
            </div>
            <!-- Message input -->
            <div class="input-container">
                <textarea id="message-input" placeholder="Ask anything..."></textarea>
                <button onclick="sendMessage()" id="send-button">Send</button>
            </div>
        </main>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> <!-- Markdown lib -->
<!--  Katex  -->
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js"></script>
<script src="/static/js/chat.js"></script> <!-- Chat -->
</body>
</html>